<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">   
    </script>
    <script>
        tdata = {{tempdata|tojson}};
        tempdata = tdata.data;
        console.log('parse effort', (JSON.parse(tdata)).data[0]);
        temptitle = tdata.title;
        chartType = "LineChart";
        containerId = "chart1";
        options = {"title":temptitle};
    </script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package
        google.charts.load('current', {'packages':['corechart']});
        // Set a callback for when the API is loaded
        google.charts.setOnLoadCallback(convertJSON);
        //google.charts.setOnLoadCallback(drawChart);
    
        function convertJSON() {
            var inputData = tdata;
            console.log('og data', inputData)
            console.log('data check 0', JSON.parse(inputData).data.length);
            console.log('data check', JSON.parse(inputData).data[1][0].toString());

            var cols = [{id: 'timestamp', label: 'Timestamp', type: 'string'}, {id: 'tempval', label: 'Temperature' , type: 'number'}];
            // for (var i = 0; i < inputData.data[0].length; i++) {
            //     cols.push({id: inputData.data[0][i], label: inputData.data[0][i], type: 'string'});
            // }
            var rows = [];
            for (var i = 1; i < JSON.parse(inputData).data.length; i++) {
                var rowData = {c: []};
                rowData.c.push({v: (JSON.parse(inputData).data[i][0]).toString()}, {v: JSON.parse(inputData).data[i][1]});
                rows.push(rowData);
            }

            var outputJSON = {
                cols: cols,
                rows: rows
            };

            staticDataEx = {
            cols: [{id: 'timestamp', label: 'Timestamp', type: 'string'},
                {id: 'temp', label: 'Temperature', type: 'number'}],
            rows: [{c:[{v: '2023-10-26 00:21:27.772392402+00:00'}, {v: 48.96}]},
                {c:[{v: '2023-10-26 00:21:57.776934814+00:00'}, {v: 48.94}]},
                {c:[{v: '2023-10-26 00:22:27.772610909+00:00'}, {v: 48.94}]},
                {c:[{v: '2023-10-26 00:22:57.779002022+00:00'}, {v:48.92}]},
                {c:[{v: '2023-10-26 00:23:27.788983250+00:00'}, {v:48.91}]}]
            };

            console.log('static', staticDataEx)

            formattedData = JSON.stringify(outputJSON, null, 2);
            console.log("FD", formattedData)
            var data = new google.visualization.DataTable(formattedData,false);
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data);
        }

        // This is the callback function which actually draws the chart
        function drawChart() {
            staticDataEx = {
            cols: [{id: 'timestamp', label: 'Timestamp', type: 'string'},
                {id: 'temp', label: 'Temperature', type: 'number'}],
            rows: [{c:[{v: '2023-10-26 00:21:27.772392402+00:00'}, {v: 48.96}]},
                {c:[{v: '2023-10-26 00:21:57.776934814+00:00'}, {v: 48.94}]},
                {c:[{v: '2023-10-26 00:22:27.772610909+00:00'}, {v: 48.94}]},
                {c:[{v: '2023-10-26 00:22:57.779002022+00:00'}, {v:48.92}]},
                {c:[{v: '2023-10-26 00:23:27.788983250+00:00'}, {v:48.91}]}]
            };
            // Create a data table from the data passed into the template
            var data = new google.visualization.DataTable(tdata,false);
            var data = new google.visualization.DataTable(staticDataEx,false);
            var options = {'title':temptitle,
                        'width':600,
                        'height':250};

            // Instantiate and draw the chart
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data);
        }
      </script>
  </head>  
  <body>
    <div id="chart_div"></div>
  </body>
</html>